<div class="container mt-5">
  <h2 class="text-center">Owners List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let owner of owners">
        <td>{{ owner.id }}</td>
        <td>{{ owner.firstName }}</td>
        <td>{{ owner.lastName }}</td>
        <td>{{ owner.email }}</td>
        <td>{{ owner.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
