.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fixed-img {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
}

.bg-light {
  background-color: #f8f9fa;
}
